##TEAM 9 - SOUTHERN AMERICAS AND CARIBBEAN

Things to do:
1. Introduction of the project

2. Loading data

3. EDA - (JUST head(), info(), and describe ().

4. Filter dataset by our region - South Americas and Caribbean

5. Qualitative Introduction of Region (2-3 characteristics and 5 sentences each?)

6. Compare our region VS World Averages (averages for all available metrics. Find 2-3 metrics which are striking) + **Visualization** (what the graph shows, what is the difference in metrics and the reasoning behind it)

7. Missing data - (what data is missing and why is it   missing?   Unique and strong rationale behind the missing values) - **Visualization** (Required)
   1. Which columns are missing?
   2. Are all countries in the region missing them or few?
    3. Why? What could be the reason behind the missing data?

8. Choose 1 country (Choose the country closest to your average) + **Visualization**

9. Unexpected/ unique findings

10. Conclusion

In [ ]:
#Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Load the dataset 'worldbank.xlsx'

df=pd.read_excel('worldbank.xlsx')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 25 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Obs                                           218 non-null    int64
 1   Country/Territory                             218 non-null    object
 2   Code                                          218 non-null    object
 3   Region                                        218 non-null    object
 4   Adolescent Fertility Rate                     217 non-null    float64
 5   Youth Literacy Rate                           166 non-null    float64
 6   Toursim (Digital Demand)                      119 non-null    float64
 7   Technology Exports                            185 non-null    float64
 8   Fertility Rate                                217 non-null    float64
 9   Population                                    217 non-null    float64
 10  CO2 Emissions                                 191 non-null    float64
 11  Working Population                            217 non-null    float64
 12  International Tourism                         192 non-null    float64
 13  GDP PPP                                       141 non-null    float64
 14  Primary School Enrollment Rate                197 non-null    float64
 15  Life Expectancy                               152 non-null    float64
 16  Renewable Energy Score                        218 non-null    float64
 17  Population (Urban %)                          215 non-null    float64
 18  Internet Usage (%)                            119 non-null    float64
 19  Trade (% of GDP)                              194 non-null    float64
 20  GCI                                           152 non-null    float64
 21  Feel Unsafe In Home                           63 non-null     float64
 22  Crime Victims                                 68 non-null     float64
 23  Population (Rural %)                          215 non-null    float64
 24  Population ages 0-14 (% of total population)  217 non-null    float64
dtypes: float64(21), int64(1), object(3)
memory usage: 42.7+ KB

In [ ]:
# Extracting only the South American and Caribbean countries from the full dataset ensuring the dataset aligns with the assigned region for analysis.

region_df = df[df["Region"].isin(["Southern Americas and Caribbean"])]

#Preview of the first 5 rows to check the filtered dataset.
#Review the summary statistics of the dataset.
region_df.head()
region_df.info()
region_df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 7 to 211
Data columns (total 25 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Obs                                           20 non-null     int64
 1   Country/Territory                             20 non-null     object
 2   Code                                          20 non-null     object
 3   Region                                        20 non-null     object
 4   Adolescent Fertility Rate                     20 non-null     float64
 5   Youth Literacy Rate                           19 non-null     float64
 6   Toursim (Digital Demand)                      15 non-null     float64
 7   Technology Exports                            18 non-null     float64
 8   Fertility Rate                                20 non-null     float64
 9   Population                                    20 non-null     float64
 10  CO2 Emissions                                 18 non-null     float64
 11  Working Population                            20 non-null     float64
 12  International Tourism                         20 non-null     float64
 13  GDP PPP                                       15 non-null     float64
 14  Primary School Enrollment Rate                19 non-null     float64
 15  Life Expectancy                               17 non-null     float64
 16  Renewable Energy Score                        20 non-null     float64
 17  Population (Urban %)                          20 non-null     float64
 18  Internet Usage (%)                            15 non-null     float64
 19  Trade (% of GDP)                              18 non-null     float64
 20  GCI                                           17 non-null     float64
 21  Feel Unsafe In Home                           0 non-null      float64
 22  Crime Victims                                 14 non-null     float64
 23  Population (Rural %)                          20 non-null     float64
 24  Population ages 0-14 (% of total population)  20 non-null     float64
dtypes: float64(21), int64(1), object(3)
memory usage: 4.1+ KB

,Obs,Adolescent Fertility Rate,Youth Literacy Rate,Toursim (Digital Demand),Technology Exports,Fertility Rate,Population,CO2 Emissions,Working Population,International Tourism,...,Life Expectancy,Renewable Energy Score,Population (Urban %),Internet Usage (%),Trade (% of GDP),GCI,Feel Unsafe In Home,Crime Victims,Population (Rural %),Population ages 0-14 (% of total population)
count,20.000000,20.000000,19.000000,15.000000,1.800000e+01,20.000000,2.000000e+01,18.000000,2.000000e+01,20.000000,...,17.000000,20.000000,20.000000,15.000000,18.000000,17.000000,0.0,14.000000,20.000000,20.000000
mean,93.350000,45.177800,98.900405,10.180811,8.957694e+08,1.819850,2.319291e+07,2.655397,1.578944e+07,4.307650,...,74.238235,27.353170,71.148800,74.004480,80.776478,3.990588,NaN,10.657819,28.851200,22.601180
std,69.961098,21.745571,0.794293,7.458863,2.085021e+09,0.441681,4.712157e+07,2.153307,3.263958e+07,4.165131,...,3.899273,23.278236,19.116134,11.781552,47.081720,0.384472,NaN,4.709419,19.116134,4.775409
min,8.000000,6.542000,96.080000,0.484565,4.204170e+05,1.167000,1.076240e+05,0.872911,7.113800e+04,0.619055,...,66.210000,0.000000,27.316000,48.083500,28.159400,3.230000,NaN,5.144120,4.148000,14.927900
25%,41.500000,26.373250,98.815000,4.604620,1.361802e+07,1.496750,1.234019e+06,1.433793,8.501430e+05,2.202093,...,73.000000,0.000000,62.821250,66.743550,51.723150,3.710000,NaN,7.831283,11.959000,18.672725
50%,68.500000,45.797000,99.120000,8.425510,1.462975e+08,1.710000,6.633670e+06,1.950050,4.372355e+06,3.243890,...,74.410000,26.740700,73.770500,74.675000,67.595450,3.950000,NaN,9.478480,26.229500,22.787150
75%,151.250000,60.816750,99.325000,14.272300,5.833318e+08,2.151500,2.192498e+07,3.210233,1.481452e+07,4.098702,...,76.330000,49.097900,88.041000,81.562900,90.604325,4.220000,NaN,12.864050,37.178750,25.555050
max,212.000000,82.079000,99.530000,25.785000,8.694670e+09,2.547000,2.119990e+08,10.157100,1.468850e+08,18.851400,...,81.790000,67.055600,95.852000,90.193400,194.351000,4.710000,NaN,23.586200,72.684000,30.621200

#Qualitative Introduction of Region (2-3 characteristics and 5 sentences each?)

#Compare our region VS World Averages (averages for all available metrics. Find 2-3 metrics which are striking) + Visualization (what the graph shows, what is the difference in metrics and the reasoning behind it)

#Missing Data

#Closer to Average

#Unexpected/Unique Findings